body {
  align-items: center;
  font-family: Helvetica, sans-serif;
}

.dark {
  background-color: rgb(23, 23, 23);
}

.focus {
  width: 500px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  text-align: center;
  border-radius: 20px;
  box-shadow: 1px 1px 30px rgba(70, 0, 144, 0.571);
}

.dark-focus {
  box-shadow: 1px 1px 30px rgba(37, 203, 206, 0.571);
}

h1 {
  font-size: 42px;
  color: rgb(102, 37, 206);
}

.dark-title {
  color: rgb(42, 190, 158);
}

/* TOGGLE TEMA */

#day{
  width: 30px;
  height: 30px;
  position: absolute;
  left: 430px;
  top: 40px;
}

#day:hover {
  cursor: pointer;
}

#night{
  width: 27px;
  height: 27px;
  position: absolute;
  left: 430px;
  top: 40px;
}

#night:hover {
  cursor: pointer;
}

/* BOTÕES */

#buttons-container button {
  border: none;
  padding: 10px 15px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 15px;
}

#players-2 {
  background-color: rgb(42, 190, 158);
  color: white;
}

#players-2:hover {
  cursor: pointer;
}

#ai-player {
  background-color: rgb(102, 37, 206);
  color: white;
}

#ai-player:hover {
  cursor: pointer;
}

/* JOGO */

#container {
  display: flex;
  width: 300px;
  margin: 0;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}



.box {
  height: 100px;
  border: 4px solid rgb(78, 78, 78);
  box-sizing: border-box;
  flex: 1 1 33%;
}

.dark-box{
  border: 4px solid rgb(150, 150, 150);
}

#block-1, #block-2, #block-3 {
  border-top: none;
}

#block-1, #block-4, #block-7 {
  border-left: none;
}

#block-3, #block-6, #block-9 {
  border-right: none;
}

#block-7, #block-8, #block-9 {
  border-bottom: none;
}

/* SIMBOLOS */

.x {
  font-size: 65px;
  color: rgb(42, 190, 158);
  display: inline-block;
  line-height: 100px;
}

.o {
  width: 50px;
  height: 50px;
  border: 5px solid rgb(102, 37, 206);
  border-radius: 50%;
  display: inline-block;
  margin-top: 17px;
}

/* CLASSE ESCONDER */

.hide {
  display: none !important;
}

/* PLACAR */

#scoreboard-container {
  font-size: 25px;
  font-weight: bold;
  margin-top: 30px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}


.scoreboard-title {
  color: rgb(102, 37, 206);
}

.dark-scoreboard-title {
  color: rgb(42, 190, 158);
}

.score-box {
  margin: 0 20px;
}

#x-scoreboard {
  color: rgb(42, 190, 158);
  margin-right: 3px;
}

#o-scoreboard {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 3px solid rgb(102, 37, 206);
  border-radius: 50%;
  margin-left: 2px;
}

.score {
  color: rgb(57, 57, 57);
}

.dark-score {
  color: rgb(255, 255, 255);
}


/* MENSAGEM */

.message p {
  position: absolute;
  margin-left: auto;
  left: 0;
  right: 0;
  top: 175px;
  font-size: 50px;
  background-color: rgba(35, 35, 35, 0.887);
  color: rgb(162, 243, 255);
  padding: 20px;
}

.dark-message p {
  background-color: rgba(192, 192, 192, 0.474);
  color: rgb(57, 0, 156);
}